cmake-build-debug
cmake-build-release/
src/cmake-build-debug
src/cmake-build-release/
src/pybin_bin
src/.idea
src/_build
#modules/wrapper_cgal
#modules/pybind11
#modules/sp
.idea
__pychache__
python/*.so
data/
_build
build
pybin_bin
src/tests/files/blender
