cmake-build-debug
cmake-build-release/
src/cmake-build-debug
src/cmake-build-release/
src/pybin_bin
src/.idea
src/_build
modules/wrapper_cgal
.idea
__pychache__
modules
python/*.so
data/
_build
build
pybin_bin